<li class="span3">
   <div class="thumbnail">
      <img src="qrcode?url=<%= latestArtifact.downloadUrl %>">
      <div class="caption">
         <h3><%= name %></h3>
         <p><%= id %></p>
         <p>
            <a href="<%= latestArtifact.downloadUrl %>" class="btn btn-primary">Download</a> 
            <a href="#" data-id="<%= id %>" class="detail-button btn">Details</a>
         </p>
         <p><strong><%= latestArtifact.version %></strong></p>
         <p><%= latestArtifact.formattedDate %></p>
      </div>
   </div>
</li>