<li class="span3">
   <div class="thumbnail">
      <img src="qrcode?url=<%= latestArtifact.downloadUrl %>">
      <div class="caption">
         <h3><%= name %></h3>
         <h5><%= id %></h5>
         <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget
            metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
         <p>
            <a href="<%= latestArtifact.downloadUrl %>" class="btn btn-primary">Download</a> <a href="#" class="btn">Details</a>
         </p>
         <p><%= latestArtifact.version %></p>
         <p><%= dateFormat(new Date(latestArtifact.date), 'yyyy-dd-MM hh.mm.ss') %></p>
      </div>
   </div>
</li>